.cardbutton {
    display: block;

    border-radius: 0.5rem;
    cursor: pointer;
  }
  .cardbutton span {
    background-color: #177e89;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 0.5rem;
    color: var(--color-white);
  }
  