.bodycontainer {
    width: 80%;
    margin:0 auto;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px var(--softer-color);
    padding: 4px 10px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    z-index: 2;
  }
  .navright {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  @media screen and (max-width: 1040px) {
    .bodycontainer {
      width: 95%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .bodycontainer {
      width: 100%;
    }
    .navright {
      flex-direction: column;
    }
  }
  @media print {
    .nav {
      display: none;
    }
  }
  .productitems{
    display: flex;
    width: 100%;
gap: 10px;

    .categoery{
        width: 20%;
        h2{
            margin: 0 5px !important;
            font-size: 18px;
        }
    }
    .productlists{
        width: 80%;
    }
    .filteraction{
        width: 100%;
        display: flex;
      margin-top: 30px;
        .clearCta{
            font-size: 16px;
            padding: 10px 20px;
            background-color: #fff;
            border: 1px solid #177e89;
            color: #177e89;
            border-radius: 8px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s;
            width: 50%;
     
        }
        .applyCta {
            font-size: 16px;
            padding: 10px 20px;
            background-color: #177e89;
            border: 1px solid var(--color-white);
            color: var(--color-white);
            border-radius: 8px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s;
            width: 50%;
          }
    }
    
     
  }
  
  